#outer_wrapper{
	background: url('outer_bg.png') repeat-x #f9f8d2;	
}
#header .nav2{
  background: url('nav_bg.png') no-repeat ;
}
#main #product .topic,
#main #article .topic,
#main #collection .topic{
	font-size:1.4em;
}
.widgets{
	background: url('widgets.png') no-repeat ;
}
.banners{
	background: url('banners.png') no-repeat ;
}
.buttons{
	background: url('buttons.png') no-repeat;
}
.sticky{
	background:url('sidebar_sticky1.png') no-repeat;
}
.sticky1{
	background:url('nav_sticky1.png') no-repeat;
}
.sticky2{
	background:url('nav_sticky2.png') no-repeat;
}
/*------------------- Font Color --------------------*/
#header,
#sidebar1 .list li a,
#main .padding a,
#main .column li a,
#main #product .topic a,
.footer,
.footer a,
.footer .copyright a:hover,
#sidebar1 .logged_in li a{
	color:#555;
}
#header a,
.topbar a,
#blog .author,
#article .author,
#discussion .breadcrumb a{
	color:#777;
}
/*#sidebar1 .logged_in,
#sidebar1 .logged_in li a:hover{
	color:#ee6c8f;
}*/
#header .nav2 li a,
#sidebar1 .account .button,
#sidebar1 .account .signup,
#discussion .listing th,
#cart .items th,
#collection .subcategory a{
	color:#fff;	
}
#sidebar1 .logged_in,
#sidebar1 .logged_in li a:hover,
#header a:hover,
#header .logo_wrapper .site_name,
.topbar a:hover,
#sidebar1 .topic,
#sidebar1 .stats dd,
#main .topic,
#collection .grid .price,
.footer a:hover,
#sidebar1 li a:hover,
#sidebar1 .nav-left .active a,
#discussion .breadcrumb a:hover{
	color:#73d4c0;
}
#header .nav2 a:hover,
#main .padding a:hover,
#blog .excerpt a,
#discussion .message a,
#main .column li a:hover,
#collection .subcategory a:hover{
	color:#fd5361;
}
#collection .grid a .view{
	color:#fff;
}
#collection .grid a:hover .view{
	color:#fd5361;
}
/*------------------- Background Color --------------------*/
.topbar .nav a,
#collection .subcategory a:hover,
#header{
  background-color:#fff;
}
#header .nav2 a:hover{
	background-color:#fff;
	-moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius-topleft: 5px;
  -webkit-border-radius-topright: 5px;
  -border-radius-topleft: 5px;
  -border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#nav-left{
	background-color:#fff;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -border-radius: 15px;
  border-radius: 15px;
}
#discussion .listing th,
#cart .items th,
#collection .subcategory a{
  background-color:#fd5361;
}
#discussion .listing .hover{
  background-color:#ffe9eb;	
}
#sidebar1 .account .button{
  background-color:#9c002d;		
}
#sidebar1 .account .signup{
  background-color:#fd5361;		
}
#sidebar1 .account .signup:hover{
  background-color:#ffb7bd;		
}
#collection .grid a .view{
  background-color:#fd5361;	
}
#collection .grid a:hover .view{
  background-color:#f2bbbf;	
}
/*------------------- Border Color --------------------*/
#content_wrapper,
#message .padding,
#sidebar1 .list li,
#discussion .listing td,
#blog .padding li,
#main .column ul li{
	border-bottom:1px dotted #c1b28d;
}